## Retail

In [2]:
import seaborn as sns
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
tran_df=pd.read_csv(r'C:\Users\180121\Downloads\Transactions.csv')
cat_df=pd.read_csv(r'C:\Users\180121\Downloads\prod_cat_info.csv')
cust_df=pd.read_csv(r'C:\Users\180121\Downloads\Customer.csv')
comb_df = pd.merge(left=tran_df,right=cat_df,how="inner",on=['prod_subcat_code','prod_cat_code'])
combi_df = pd.merge(left=comb_df,right=cust_df,how="inner",on=['cust_id'])
combi_df

,transaction_id,cust_id,tran_date,prod_subcat_code,prod_cat_code,Qty,Rate,Tax,total_amt,Store_type,prod_cat,prod_subcat,DOB,Gender,city_code
0,80712190438,270351,28-02-2014,1,1,-5,-772,405.300,-4265.300,e-Shop,Clothing,Women,26-09-1981,M,5.0
1,80712190438,270351,20-02-2014,1,1,5,772,405.300,4265.300,e-Shop,Clothing,Women,26-09-1981,M,5.0
2,13181563739,270351,13-12-2011,6,5,1,1048,110.040,1158.040,e-Shop,Books,DIY,26-09-1981,M,5.0
3,12236277258,270351,18-03-2013,8,3,3,1030,324.450,3414.450,e-Shop,Electronics,Personal Appliances,26-09-1981,M,5.0
4,36957441426,270351,16-09-2013,3,2,3,361,113.715,1196.715,Flagship store,Footwear,Women,26-09-1981,M,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23048,87125650,268666,9/8/2011,1,4,-5,-359,188.475,-1983.475,e-Shop,Bags,Mens,11/12/1978,M,3.0
23049,87125650,268666,5/8/2011,1,4,5,359,188.475,1983.475,e-Shop,Bags,Mens,11/12/1978,M,3.0
23050,34764580226,269784,20-07-2011,1,4,1,1057,110.985,1167.985,Flagship store,Bags,Mens,26-04-1986,F,7.0
23051,80809115393,268084,1/4/2011,1,4,4,873,366.660,3858.660,TeleShop,Bags,Mens,18-11-1970,M,1.0
23052,12933894691,272706,31-01-2011,1,4,5,361,189.525,1994.525,MBR,Bags,Mens,9/3/1974,M,8.0

In [4]:
combi_df['Return'] = 0
combi_df.loc[combi_df['Qty'] < 0,'Return'] = 1

In [5]:
combi_df = combi_df.drop_duplicates(['transaction_id'],keep='first')
combi_df = combi_df.drop(['Tax'],axis=1)

In [6]:
combi_df['Qty'] = combi_df['Qty'].abs()
combi_df['Rate'] = combi_df['Rate'].abs()
combi_df['total_amt'] = combi_df['total_amt'].abs()

### Correlation with Heatmap

 A correlation heatmap uses colored cells, typically in a monochromatic scale, to show a 2D correlation matrix (table) between two discrete dimensions or event types.
 It is very important in Feature Selection

In [7]:
combi_df.head()
##combi_df['AVG of Returns for customer'] = combi_df.groupby('cust_id')['Return'].transform('mean')
##combi_df['AVG of Returns for prod cat'] = combi_df.groupby('prod_cat')['Return'].transform('mean')
##combi_df['AVG of Returns for prod sub cat'] = combi_df.groupby('prod_subcat')['Return'].transform('mean')
##combi_df['AVG of Returns for customer'] = combi_df.groupby('cust_id')['Return'].transform('count')
##combi_df.head()
from datetime import datetime, date
def conv_date(dte) :
    born = pd.to_datetime(dte)
    ##born = datetime.strptime(dtes, "%d-%m-%Y").date()
    today = date.today()
    a = today.year - born.year - ((today.month,today.day) < (born.month,born.day))    
    return a
combi_df['DOB'] = combi_df['DOB'].apply(conv_date)

In [1]:
combi_df['ss'] = 0
a = []
for i,j in combi_df.iterrows():
    for x in range(i+1,len(combi_df)):
        a.append(x)
#a.append(combi_df.loc[x,'transaction_id'])
  ##      if combi_df.loc[i,'transaction_id'] == combi_df.loc[x,'transaction_id']:
    ##        combi_df.loc[x,'ss'] = 1

NameError: name 'combi_df' is not defined

In [ ]:

ss = combi_df[combi_df['Return'] == 1]
sns.countplot(x='prod_cat',data=ss)

In [ ]:
sns.countplot(y='prod_subcat',data=ss)

In [ ]:
sns.countplot(y='Store_type',data=ss)

In [ ]:
sns.countplot(y='Gender',data=ss)

In [ ]:
sns.histplot(ss['Qty'],kde=False,bins=10)

In [ ]:
sns.countplot(x='DOB',data=ss)

In [ ]:
df=combi_df.drop(['transaction_id','cust_id','tran_date','prod_cat','prod_subcat'],axis=1)

In [ ]:
df.dtypes

In [ ]:
df.isnull().sum()

In [ ]:
df = df.dropna(subset=['Gender','city_code'])

In [ ]:
df.isnull().sum()

In [ ]:
from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder()
df["Gender"]=encoder.fit_transform(df['Gender'])
df["Store_type"]=encoder.fit_transform(df['Store_type'])

In [ ]:
df.head()

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x = df.drop(['Return'],axis=1)
y = df['Return']
X_train,X_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=0)

In [ ]:
y_train.value_counts()

In [ ]:
y_test.value_counts()

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
lr = LogisticRegression(random_state = 0)

In [ ]:
lr.fit(X_train,y_train)
print(lr.coef_)

In [ ]:
y_pred = lr.predict(X_test)
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test, y_pred)
print(cm)
accuracy_score(y_test, y_pred)

In [ ]:
import statsmodels.api as sm

In [ ]:
X_train=sm.add_constant(X_train)
X_test=sm.add_constant(X_test)

model = sm.Logit(y_train,X_train)
res=model.fit()
res.summary()

In [ ]:
np.exp(-0.0938)
#odds of return reduces by 1 % when rate increases by 1
#np.exp(0.0180)
#odds of return increases by 1.8 % when city is different from base city

In [ ]:
ypres= res.predict(X_test)
ypres=ypres.ravel()
yy=ypres
for i in range(len(ypres)):
    if(ypres[i]>.5):
        yy[i]=1
    else:
        yy[i]=0
cm = confusion_matrix(y_test, yy,labels=[0,1])
print(cm)
accuracy_score(y_test, yy)